.markHover {
    background-color: transparent;
}

.markHover:hover {
    /* background-color: rgba(255, 0, 0, 0.3); */
}

.bar {
    position: absolute;
    bottom: 0px;
}

.highlightReducible {
    background-color: rgba(0, 0, 255, 0.1);
}

.line {
    font-family: 'Fira Code';
    font-size: 15px;
}

.bar {
    font-family: 'Fira Code', monospace;
    font-size: 15px;
}